/* navbar styling */
.navbar{
  background-color: #FFC244FF;
}
.logo{
color: #00a082ff;
font-weight: bolder;
font-size: 20pt;
font-family: cursive;
}
.login{
  background-color: #FFC244FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* landingpage styling start */
/* beginning of hero section styling */

.hero-section{
  background-color: #FFC244FF;
  position: relative;
  height: 100vh;
}
.lead{
  font-size: 40pt;
}

#title1{
  font-weight: lighter;
  font-size: 13pt;
  color:#004D20;
}
#home-text{
  font-size: 10pt;
  font-weight: lighter;
}

/* end of hero section styling */
/* add a wavy line */
       
/* landing styling end */
/* footer styling */
#footer{
  background: #00a082ff;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
}
#footer .footer-top{
      background: #00a082ff;
      padding: 60px 0 30px 0
}
#footer .footer-top .footer-info{
      margin-bottom: 30px
}
#footer .footer-top .footer-info h3{
      font-size: 18px;
      font-weight: lighter;
      margin: 0 0 20px 0;
      padding: 2px 0 2px 0;
      line-height: 1;
      font-weight: 700
}
#footer .footer-top .footer-info p{
      font-size: 14px;
      font-weight: lighter;
      line-height: 24px;
      margin-bottom: 0;
      font-family: "Raleway", sans-serif;
      color: #fff
}
#footer .footer-top .social-links a{
      font-size: 18px;
      font-weight: lighter;
      display: inline-block;
      background: #545454;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s
  }
  #footer .footer-top .social-links a:hover{
      background: #00a082ff;
      color: #fff;
      font-weight: lighter;
      text-decoration: none
  }
  #footer .footer-top h4{
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 12px
  }
  #footer .footer-top .footer-links{
      margin-bottom: 30px
  }
  #footer .footer-top .footer-links ul{
      list-style: none;padding: 0;margin: 0
  }
  #footer .footer-top .footer-links ul i{
      padding-right: 2px;
      color: #00a082ff;
      font-size: 18px;
      line-height: 1
  }
  #footer .footer-top .footer-links ul li{
      padding: 10px 0;
      display: flex;
      align-items: center
  }
  #footer .footer-top .footer-links ul li:first-child{
      padding-top: 0;
  }
  #footer .footer-top .footer-links ul a{
      color: #fff;
      transition: 0.3s;
      display: inline-block;
      line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover{
      color: #005A25;
  }
  #footer .footer-top .footer-contact{
      margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact p{
      line-height: 26px;
  }
  #footer .copyright{
      text-align: center;
      padding-top: 30px;
  }
  #footer .credits{
      padding-top: 10px;
      text-align: center;
      font-size: 13px;
      color: #fff
  }
/* homepage styling */

/* end of homepage styling */
/* Styling of profile */
.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-color: #00a082ff;
}

.profile-page{
  background:#FFC244FF;
  min-height: 100vh;
  overflow-x:hidden;
}
/* End of profile styling */